@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300&display=swap');

.user-data-container {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f2f2f2;
}

.data-container {
    border: 2px solid rgb(25, 23, 23);
    padding: 20px;
    background-color: bisque;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.user-data-container h3 {
    font-size: 22px;
    margin: 15px 0;
    font-weight: bold;
    text-transform: uppercase;

}

.user-data-container p span {
    font-weight: bold;
}



.user-data-container p {
    text-align: start;
    font-size: 18px;
    margin: 10px 0;
}

.user-data-container button {
    padding: 8px;
    font-size: 14px;
    background: #0f8b68;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.user-data-container button:hover {

    background: #16c896;
}